* {
	box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
	text-align: center;
  margin-bottom: 15px;
  font-size: 1.75em;
}

.row {
  width: 100%;
  position: absolute;
  padding: 15px;
}

p {
  width: 95%;
  margin-right: auto;
  margin-left: auto;
  font-family: Helvetica;
  color:;
  color: black;
  text-align: justify;
}

.cat-title {
  position: absolute;
  text-align: right;
  right: 0px;
  top:0px;
  margin-right: auto;
  border: 1px solid black;
  font-size: 1.25em;
  width: 85px;
  text-align: center;
}

.ct1{
  background-color: blue;
}

.ct2{
  background-color: yellow;
}

.ct3{
  background-color: red;
}

@media (min-width: 992px) {
.col-lg-4 {
	position:relative;
	min-height: 1px;
  	padding-right: 15px;
  	padding-left: 15px;
  	padding-top: 30px;
    background-color: gray;
    border: 1px solid black;
  	width: 31%;
    float:left;
    margin: 0.3888889%;
}
}

@media (min-width: 768px) and (max-width:991px)  {
.col-md-6 {
	position:relative;
	min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 30px;
  background-color: gray;
  border: 1px solid black;
  width: 48%;
  float:left;
  margin: 1%;
}
}

@media (min-width: 768px) and (max-width:991px)  {
.col-md-1 {
  position:relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 30px;
  background-color: gray;
  border: 1px solid black;
  width: 98%;
  float:left;
  margin: 1%;
}
}

@media (max-width:767px)  {
.col-xs-1 {
	position:relative;
	min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 30px;
  background-color: gray;
  border: 1px solid black;
  width: 100%;
  float: left; 
  margin: 1%;
}
}